[Unit]
Description=CSYE 6225 Cloud WebApp App
After=network.target

[Service]
Type=simple
User=csye6225
Group=csye6225
WorkingDirectory=/opt/cloud/webapp
ExecStartPre=/bin/bash -c 'while [ ! -f /opt/cloud/webapp/.env ]; do sleep 3; done'
ExecStart=/usr/bin/node /opt/cloud/webapp/index.js
Restart=on-failure
RestartSec=3
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=csye6225

[Install]
WantedBy=multi-user.target